<header th:fragment="header">

	<head>
		<meta charset="UTF-8"/>
		<title>ideas</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
		<link rel="stylesheet" th:href="@{/css/common.css}"/>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="https://use.fontawesome.com/a0f8d57545.js"></script>
		<script th:href="@{/resources/js/bootstrap.min.js}"></script>
		<link rel="icon" th:href="@{/resources/img/logo.gif}" type="image/gif"/>
	</head>

</header>